@font-face {
	font-family: 'Circular';
	src: url('CircularStd-Book.eot');
	src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('CircularStd-Book.woff') format('woff'),
		url('CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
    font-family: 'Circular', Arial;
}
body {
    padding: 90px 0 5px 0;
}
#refresh {
    width: 25px;
    height: 25px;
    font-size: 20px;
    left: 0px;
    top: 0;
    position: absolute;
}
#inbox {
    width: 25px;
    height: 25px;
    font-size: 20px;
    left: 32.5px;
    top: 0;
    position: absolute;
}
#quit {
    width: 25px;
    height: 25px;
    font-size: 20px;
    right: 10px;
    top: 0;
    position: absolute;
}
#minimize {
    top: 0;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-right: -2px;
    right: 47.5px;
    position: absolute;
}
.window_buttons {
    border-color: transparent;
    border-radius: 0px;
    background-color: transparent;
}
#authenticate {
    position: relative;
    margin-top: 10%;
    margin-left: 27.5%;
    width: 45%;
    margin-right: 27.5%: text-align: center;
}
#nav {
    font-size: 30px;
    padding-top: 10px;
    color: orange;
}
.nav {
    background-color: #f2f2f2;
}
nav {
    height: 85px;
    line-height: 1.75em;
}
#username {
    color: #3F729B;
}
#karma {
    color: #3F729B;
}
#all_read {
	width: 60%;
	margin: 7.5px 20% 10px 20%;
}
.author {
    font-weight: bold;
    display: inline-block;
}
.subreddit {
    font-weight: normal;
    color: #FF9900;
    padding-top: 5px;
    margin-left: 10px;
    display: inline-block;
}
.date {
    font-style: italic;
    padding-top: 5px;
    color: #428bca;
    display: inline-block;
}
.thread_title {
    font-weight: bold;
    color: #428bca;
    display: inline-block;
    margin-bottom: -10px;
}
.message_body {
    margin: 7.5px 0 2.5px 0;
}
::-webkit-scrollbar {
    display: none;
}
.unread {
    border-right: 6px solid #FF9900;
}
#load_more {
    position: relative;
    margin-left: 27.5%;
    width: 45%;
    margin-right: 27.5%: text-align: center;
}
#created_by {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}
#created_by:hover {
	cursor: pointer;
	color: #FF9900;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #FF9900;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    text-align: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-radius: 15px;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
