#quit {
    width: 25px;
    height: 25px;
    font-size: 20px;
    right: 0px;
    top: 0;
    position: absolute;
}
#minimize {
    top: 0;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-right: -2px;
    right: 25px;
    position: absolute;
}
#authenticate {
    position: relative;
    margin-top: 45%;
}